<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <h1 class="first">{% block h1 %}{% endblock %}</h1>
        <img src="{{url_for('static',filename='nicola.jpeg')}}" />
        <h2 class="second">{% block h2 %}{% endblock %} </h2>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
